<div class="container ">
<h1>Welcome to india</h1>
</div>
<app-corousel></app-corousel>
<div class="container" >
    <p class="container"><b>India: A Land of Diversity and Heritage</b>India, known as the world's largest democracy, is a country celebrated for its rich cultural heritage, vibrant traditions, and remarkable diversity. Located in South Asia, it is the second-most populous country in the world, with over 1.4 billion people belonging to various ethnicities, languages, and religions. This diversity has earned India the title of being a land of "Unity in Diversity."
        One of India's most striking features is its history and heritage. With a civilization that dates back thousands of years, India has been home to the Indus Valley Civilization and witnessed the rise and fall of great empires like the Mauryas, Guptas, Mughals, and the British Raj. These influences have left behind a legacy of architectural wonders, such as the iconic Taj Mahal, ancient temples, forts, and palaces, which continue to attract millions of tourists from around the globe.</p>
</div>
